body  { background-color: #EAEAEA;
        color: #666666;
        font-family: Arial, Helvetica, sans-serif;  }

header {  background-color: #002171;
          color: #FFFFFF;
          background-position: right;
          text-align: center; }
          header :link  { text-decoration: none;
                          color: #FFFFFF; }
          header :visited  { text-decoration: none;
                             color: #FFFFFF; }
          header :hover    { text-decoration: none;
                             color: #90C7E3; }

h1    { margin-bottom: 0;
        font-family: Georgia, "Times New Roman", serif;
        letter-spacing: .25em;
        margin-top: 0px;
        padding-top: .5em;
        padding-bottom: .5em; }

nav   { font-weight: bold;
        padding: 0;
        font-size: 120%;
        text-align: center; }
        nav a   { text-decoration: none;  }
        nav ul  { text-decoration: none;
                  margin: 0;
                  padding-left: 0;
                  font-size: 1.2em;
                  list-style-type: none;  }
        nav :link { color: #5C7FA3; }
        nav :visited  { color: #344873; }
        nav :hover  { color: #A52A2A; }
        nav li {  border-bottom: solid 1px #000033; }

h2    { color: #1976D2;
        font-family: Georgia, "Times New Roman", serif;
        text-shadow: 1px 1px #CCCCCC; }

h3    { font-family: Georgia, "Times New Roman", serif;
        color: #000033; }

dt    { color: #002171;}

footer  { font-size: 75%;
          font-style: italic;
          text-align: center;
          font-family: Georgia, "Times New Roman", serif;
          padding: 2em;
          background-color: #FFFFFF;  }

main    { padding-top: 1px;
          padding-right: 20px;
          padding-bottom: 20px;
          padding-left: 20px;
          display: block;
          background-color: #FFFFFF;
          padding-left: 30px;
          overflow: auto; }
          main ul { list-style-image: url("marker.gif"); }

*       { box-sizing: border-box; }

.resort  {  color: #1976D2; }

#contact  { font-size: 90%; }

#wrapper  { background-color: #90C7E3;
            background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3); }

#homehero   { height: 300px;
              background-image: url("coast2.jpg") ;
              background-repeat: no-repeat;
              background-size: 100% 100%; }

#yurthero   { height: 300px;
              background-image: url("yurt.jpg") ;
              background-repeat: no-repeat;
              background-size: 100% 100%; }

#trailhero  { height: 300px;
              background-image: url("trail.jpg") ;
              background-repeat: no-repeat;
              background-size: 100% 100%; }
